@font-face {
    font-family: 'Segoe';
    src: url(fonts/Segoe\ UI.ttf);
}
@font-face {
    font-family: 'Segoe Script';
    src: url(fonts/segoescript.ttf);
}
@media (orientation: portrait) {
    section {
        background-image: url("img/background_mobil.png");
        background-repeat: repeat;
        width: 100vw;
        height: 500vw;
        grid-template-columns: 100%;
        grid-template-rows: repeat(9, 100vw);
        background-size: cover;

    }
}
    @media (orientation: portrait) and (min-width: 400px) {
        section{
            background-image: url("img/background_small.jpg");
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
            width: 90vh;
            height: 90vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr ;
            column-gap: 3% ;
        }
    }

@media (orientation: landscape) {
    section{
        background-image: url("img/background_big.jpg");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        width: 90vh;
        height: 90vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        column-gap: 3% ;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
display: flex;
justify-items: center;

}
main{
    width: 100vw;
    text-align: center;
    align-items: center;
}
h1{
    font-family: 'Segoe';
    margin: 1%;
    font-size: 200%;
}
p{
    font-family: 'Segoe Script';
    font-weight: 700;
    font-size: 100%;
    text-align: left;
    text-decoration: none;
    grid-row: 1 / 3;
}
section{
    margin: auto;
    display: grid;
}
article{
    background: rgba(227, 210, 150, 0.8);
    align-self: flex-end;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    height: 40%;
    transition: 1s; 
    position: relative;
}
article:hover {
    transform: scale(1.4); 
   }
button{
    border: none;
    background: transparent;
}
/* .delete{
    background-image: url(img/delete.png);
}

.check {
    background-image: url(img/check.png);
}

.check, .delete{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
} */

.create__button{
    border: 1px solid black;
    border-radius: 10px;
    background: rgba(227, 210, 150, 0.8);
    font-size: 20px;
    padding: 3px;
    font-family: 'Segoe Script';
}

.display_none{

   display: none;
}

